textarea {
    min-height: 250px;
    margin-bottom: 5px;
}

.email-div {
    border-bottom: 1px solid #ced4da;
    cursor: pointer;
    padding: 10px 15px 8px 15px;
    border-radius: 0.25rem;
}
.read {
    background: rgba(217, 221, 221, 0.3);
}

.unread { 
    background: white;
}

#sender{
}

#subject {
}

#timestamp {
    color: gray;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: none !important;
}
