{% extends "mail/layout.html" %}

{% block body %}

<div class="min-h-screen flex items-center justify-center">
    <div class="max-w-md w-full">
        <h2 class="text-2xl font-bold mb-4">Login</h2>
        {% if message %}
        <div class="bg-yellow-200 text-yellow-800 p-3 mb-4">{{ message }}</div>
        {% endif %}

        <form action="{% url 'login' %}" method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="mb-4">
                <label for="email" class="block text-sm font-medium text-gray-600">Email</label>
                <input autofocus class="mt-1 p-2 w-full border rounded-md" type="email" name="email" id="email"
                    placeholder="Email" required>
                {% if form.email.errors %}
                <div class="text-red-600 text-xs mt-1">
                    {{ form.email.errors.0 }}
                </div>
                {% endif %}
            </div>
            <div class="mb-4">
                <label for="password" class="block text-sm font-medium text-gray-600">Password</label>
                <input class="mt-1 p-2 w-full border rounded-md" type="password" name="password" id="password"
                    placeholder="Password" required>
                {% if form.password.errors %}
                <div class="text-red-600 text-xs mt-1">
                    {{ form.password.errors.0 }}
                </div>
                {% endif %}
            </div>
            <button class="bg-blue-500 text-white p-2 rounded-md" type="submit">Login</button>
        </form>

        <p class="mt-4">Don't have an account? <a href="{% url 'register' %}" class="text-blue-500">Register here.</a>
        </p>
    </div>
</div>

{% endblock %}
